<!-- product_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <title>Product List</title>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Product List</h1>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>${{ product.price }}</td>
                        <td>{{ product.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'add_product' %}" class="button is-primary">Add New Product</a>
        </div>
    </section>
</body>
</html>
